body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container{
    display: flex;
    min-height: 100%;
    
}
#car{
    height: 100vh;
    width: 40vw;
    
    background-image: url("car.avif");
    background-size: 40vw 100vh;
    background-repeat: no-repeat;
    background-position: center;
    
  
}
#formWrapper{
    background:linear-gradient(midnightblue,#fff600 );
   width: 60%;
   display: flex;
  
    
}

#value{
    border: 3px midnightblue solid;
    border-radius: 5px;
    
}
#porsche{
    margin-top: 10em;
    display: flex;
    flex-shrink: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:25vh;
    width: 40vw;
    background-color: rgba(0, 0, 0, .61);
    backdrop-filter:blur(5px);
}
form{ box-shadow: grey 20px 20px 20px 20px;
}
#form{
   
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    justify-content: space-around;
   
    color: white;
}
.formHeader{
    align-self: center;
    color:black
}
#content{
    display: flex;
    flex-direction: column;
   
    
    
}

#value{
    display: flex;
    flex-grow: 1;
    flex: 1;
}
#row{
    display: flex;
    flex: 1;
   justify-content: space-around;
    margin-bottom: 5px;
}
#footerButton{
    border-radius: 5px;
    height: 3em;
    width: 10em;
    background-color:midnightblue;
    position: absolute;
    margin-top: 25em;
    color: white;
}
.header{
    display: flex;
    justify-content: center;
}
#footer{
    color:midnightblue;
    margin-top: 10em;
    
}